*{
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
 }
 header{
    margin:30px 0;
 }
.top-conteiner{
    display: flex;
    justify-content: center;
   
}

.header-banner{
    border-radius: 35px;
    width:1070px;
    padding-bottom: 120px;
    background-color: black;
    color:aliceblue;
    display: flex;
}

.header-info{
    position: relative;
    top:70px;
    left:90px
}
.top-heading{
    font-size: 34px;
}
.banner-btn{
    text-decoration: none;
    background-color: red;
    border-radius: 6px;
    padding:7px 19px;
    color:aliceblue;
    font-weight: 700;
    margin-top: 19px;
    display: inline-block;
}
.header-img img{
    position: relative;
    top:139px;;
    left:165px;   
}
/* main grid */
.conteiner{
    display:grid;
    grid-template-columns: 210px repeat(1,3fr);
    grid-gap:10px;
    width:1070px;
    padding-bottom: 120px;
}
.menu{
    border: 1px solid black;
}
 
.blogs-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:18px;
}
 .blog img{
    width:100%;
 }
.blog{
    border:1px solid gray;

}
.blog-info{
    padding:12px 17px;
}

/* menu */
.menu-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(15, 5, 5);
    height:280px;
    border-radius: 7px;
}
.menu-bar  .menu-item{
    margin-top: 20px;
    text-align: center;
    width:160px;
    text-decoration: none;
    background-color: aliceblue;
    padding:7px 10px;
    font-weight: bold;
    font-size: 20px;
    color:black;
    border-radius: 10px;
    border:1px solid red;
}
.menu-bar .different-item{
    background-color: rgb(248, 14, 14);
}

/* footer */
footer{
    background-color: black;
    padding:50px 0;
}
.footer-contener{
    width:1070px;
    border: 1px solid red;  
}
.footer-heading{
    text-align: center;
    color:aliceblue;
}
.footer-tittle{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
footer .footer-link{
    text-decoration: none;
    padding:20px;
}
.footer-info{
    display: flex;
    justify-content: space-between;
}
.social-contact{
    display: flex;
    justify-content:space-around;
}

.fa-brands{
    font-size: 35px;
}

  
















